{{> head }}


    {{> navbar }}

    <div class="row">
    
    
    <div class="col-8">
        <h1> Under Construction </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quidem accusamus vel repellendus cupiditate quasi rem nihil deserunt ad, molestias delectus corporis. Facere, sequi labore fugit quaerat molestiae officiis saepe!</p>
    </div>

    <div class="col-2">
        <img src=" assets/img/construction.png" class="img-fluid" alt="Responsive image">
    </div>

    </div>

{{> footer }}

